[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
WorkingDirectory=/home/ec2-user/KLJ_HR
ExecStart=/usr/local/bin/gunicorn EmpApp
[Install]
WantedBy=multi-user.target