<!DOCTYPE html>
<html lang="en-MY">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Already Existed - KLY HR</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/stylemain.css')}}">
        <style>
            body {
                font-family: 'Montserrat';
            }
        </style>
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename='images/kly.png')}}" class="kly_logo" alt="KLY logo", width="200px">
            <div class="navbar">
                <nav>
                    <ul>
                       <li><a href="/" class="zoom">HOME</a></li>
                       <!-- <li><a href="/add" class="zoom">Add Employees</a></li> -->
                       <li><a href="/get" class="zoom">SEARCH EMPLOYEE</a></li>
                       <!-- <li><a href="/up" class="zoom">Update Employees</a></li> -->
                       <!-- <li><a href="/del" class="zoom">Delete Employees</a></li> -->
                    </ul>
                </nav>  
            </div>
        </header>

        <div class="content" style="text-align: center;">
            <h1>Employee Already Existed</h1><br>
			<h3>Please enter a new emp_id.<br>Thank you</h3>
            <h5>{{ detail[0] }}</h5><br>
            <p>{{ detail[1] }} {{ detail[2] }}</p>
			
            <form action="/add" autocomplete="on" method = "GET">

                <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">BACK</button><br><br>

            </form>
				
        </div>

        <footer>
            <div class="copyright">
                <caption >Copyright © 2022 klyhr.com™. All rights reserved.</caption>
            </div>
        </footer>
    </body>
</html>