<!DOCTYPE html>
<html lang="en-MY">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KLY Human Resources System</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="css/stylemain.css">
        <style>
            body {
                font-family: 'Montserrat';
            }
        </style>
    </head>
    <body>
        <header>
            <img src="../images/kly.png" class="kly_logo" alt="KLY logo", width="200px">
            <!-- <div class="navbar">
                <nav>
                    <ul>
                       <li><a href="index.html" class="zoom">Overview</a></li>
                       <li><a href="add_employees.html" class="zoom">Add Employees</a></li>
                       <li><a href="get_employees.html" class="zoom">Get Employees</a></li>
                       <li><a href="update_employees.html" class="zoom">Update Employees</a></li>
                       <li><a href="delete_employees.html" class="zoom">Delete Employees</a></li>
                    </ul>
                </nav>  
            </div> -->
        </header>

        <div class="content" class="button_animation">
            <div>
                <a href="add_employees.html">
                    <button type="addEmployee">ADD EMPLOYEE</button>
                </a>
            </div>
            <div>
                <a href="get_employees.html">
                    <button type="getEmployee">GET EMPLOYEE</button>
                </a>
            </div>
            <div>
                <a href="update_employees.html">
                    <button type="updateEmployee">UPDATE EMPLOYEE</button>
                </a>                
            </div>
            <div>
                <a href="delete_employees.html">
                    <button type="deleteEmployee">DELETE EMPLOYEE</button>
                </a>
            </div>
        </div>

        <footer>
            <div class="copyright">
                <caption >Copyright © 2022 klyhr.com™. All rights reserved.</caption>
            </div>
        </footer>
    </body>
</html>
